*{
    margin: 0;
    box-sizing: border-box;
}
 

#contianer{

    display: flex;
    align-items: center;
    
}
.block1{

    flex: 50%;
    height: 305px;
    align-items: center;
    padding: 50px;
    box-shadow: 2px 2px 10px #333;
    margin-right: 80px;
    
}
.block{

    flex: 50%;
    height: 300px;
    align-items: space-around;
    padding: 50px;
    margin-top: 70px;
    
}
.heading{
    font-size: 40px;
    color: blue;

}
.formcontrol{
    width: 80%;
    padding: 6px;
    margin: 3px;
    border-radius: 3px;
}
.btn{
    width:80% ;
    padding: 8px;
    margin: 5px;
    background-color: blue;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}
.heading1{
    color: blue;
    padding: 4px;
    margin-left: 30px;

}
.btn1{
    
    width:60% ;
    padding: 4px;
    margin: 40px;
    background-color: green;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}


